<!DOCTYPE html>
<html>
<head>
	<title>Test Case Submittion Portal</title>
	<style type="text/css">
		body{
				padding: 0;
				margin: 0;
			}
		#container{
			margin:2% 2%;
			background: red;
			height: auto;
		}
		#testcase_passs{
			display: inline-block;
			background: blue;
			width: 50%;
			height: 100%;
		}
		#testcase_response{
			display: inline-block;
			background: purple;
			width : 50%;
			float: right;
			height: 100%;
		}
		#but_t{
			width: 20%;
			background: blue;
			margin: 0 auto;
		}
		#but{
			width: 100%;
		}
		#navbar{
			height:5%;
			width: 100%;
			background: yellow;
			padding: 1%;
		}

		.textarea{
			height:100%;
			width: 100%;
		}
		#ls{
			width: 20%;
			margin: 0 auto;
			font-family: Times;
			font-weight: 800;
			overflow: ;
		}

	</style>
</head>
<body>
	<div id="navbar">
		<div id = "ls">
			Hubble Connected
		</div>
	</div>
	<form action="/send_test" method="POST">
		<div id = "container">
			<div id="testcase_passs">
				<textarea name="test" class ="textare" placeholder="Enter the Test Case"></textarea>	
			</div>
			<div id="testcase_response">
				<textarea name="response" placeholder="Enter the Test Case Response"></textarea>
			</div>
		</div>
		<div id ="but_t">
			<input id= "but" type="submit" value="Submit the test">
		</div>
	</form>
</body>
</html>